QPushButton{
    width:30px;
    height:30px;
    border:none;
}
QPushButton#closeBtn {

    icon: url(":/Resource/button/shut.png");
}
QPushButton#closeBtn:hover{
    background-color:red;
}
QPushButton#settingsBtn {
    icon: url(":/Resource/button/setting.png");
}
QPushButton#settingsBtn:hover {
    background-color: skyblue;
}